@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700;900&display=swap');

:root {
    --hexagon-width: 150px;
    --hexagon-height: var(--hexagon-width);
    /*--hexagon-height: 150px;*/
}

.hexagonWrapper {
    height: var(--hexagon-height);
    width: var(--hexagon-width);
    position: relative;
    display: inline-block;
}

.letter {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 60px;
    position: absolute;
    color: black;
    top: 20%;
    left: 30%;
    z-index: 3;
}

.hexagonWrapper:nth-of-type(even) {
    top: 33%;
}

.hexagonOutline {
    height: var(--hexagon-height);
    width: var(--hexagon-width);
    position: absolute;
    left: 0;
    z-index: 2;
}

.hexagonBackgroundContainer {
    position: absolute;
}

.hexagonBackground {
    position: absolute;
    height: var(--hexagon-height);
    width: var(--hexagon-width);
}

.mask1 {
    position: absolute;
    left: 50%;
    /* note: add dynamic link to control w_100, h_100 to prevent intrinsic size */


    -webkit-mask-image: url(https://res.cloudinary.com/dd1dw34dc/image/upload/v1676741078/hiragana_game/Hexagonal_aiueo_2_bmkrho.png);
    mask-image: url(https://res.cloudinary.com/dd1dw34dc/image/upload/v1676741078/hiragana_game/Hexagonal_aiueo_2_bmkrho.png);


    /*-webkit-mask-image: url(https://res.cloudinary.com/dd1dw34dc/image/upload/v1676741078/w_150,h_150/hiragana_game/Hexagonal_aiueo_2_bmkrho.png);*/
    /*mask-image: url(https://res.cloudinary.com/dd1dw34dc/image/upload/v1676741078/w_150,h_150/hiragana_game/Hexagonal_aiueo_2_bmkrho.png);*/

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: var(--hexagon-width) var(--hexagon-height);
    -webkit-mask-size: var(--hexagon-width) var(--hexagon-height);
    height: var(--hexagon-height);
    width: var(--hexagon-width);
}

/* https://res.cloudinary.com/demo/image/upload/e_colorize,co_pink,w_200,h_200/hexagon_sample.png */
.waveWrapper {
    overflow: hidden;
    white-space: nowrap;
}

.movingWave {
    margin-block-start: 60px;
    margin-inline-start: -1px;
    display: inline-block;
    animation: scroll 10s linear infinite;
    width: var(--hexagon-width);

    transition: margin-top 0.5s ease-out;

    /* override user agent stylesheet*/
    /*overflow-clip-margin: initial;*/
    /*overflow: hidden;*/
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}