@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700;900&display=swap');

/* produced from: https://www.joshwcomeau.com/shadow-palette/ */
:root {
    --shadow-color: 34deg 40% 42%;
    --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

.choiceArea {
    max-width: 100%;
    grid-area: choice;
    background-color: burlywood;
    border-radius: 5px;
    flex-direction: column;
    position: relative;
}

.choiceArea__bubbleContainer {
    position: absolute;
    width: 30%;
    color: black;
    cursor: pointer;
    /* animation */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    /* centering letters */
    justify-items: center;
    align-items: center;
    display: block;

}


/* position individual bubbles */
.choiceArea__bubbleContainer:nth-of-type(1) {
    top: 10%;
    left: 5%;
}

.choiceArea__bubbleContainer:nth-of-type(2) {
    top: 5%;
    left: 35.5%;
}

.choiceArea__bubbleContainer:nth-of-type(3) {
    top: 13%;
    left: 65%;
}

.choiceArea__bubbleContainer:nth-of-type(4) {
    top: 50%;
    left: 20%;
}

.choiceArea__bubbleContainer:nth-of-type(5) {
    top: 55%;
    left: 55%;
}

.choiceArea__bubbleContainer:nth-of-type(odd) {
    animation-name: bubble-right;

}

.choiceArea__bubbleContainer:nth-of-type(even) {
    animation-name: bubble-left;
}

.choiceArea__bubbleBackground::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

}

.choiceArea__bubbleContainer:nth-of-type(odd) > .choiceArea__bubbleBackground {
    transform: rotate(5deg);
    width: 100%;
}

.choiceArea__bubbleContainer:nth-of-type(even) > .choiceArea__bubbleBackground {
    transform: rotate(-5deg) scaleX(-1);
    width: 100%;
}

/* Letters in bubbles */

.choiceArea__choiceLetter {
    width: 60px;
    position: absolute;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 900;
    font-size: 5rem;
}

.choiceArea__bubbleContainer:nth-of-type(1) > .choiceArea__choiceLetter {
    color: red
}

.choiceArea__bubbleContainer:nth-of-type(2) > .choiceArea__choiceLetter {
    color: orangered;
}

.choiceArea__bubbleContainer:nth-of-type(3) > .choiceArea__choiceLetter {
    color: darkorange;
}

.choiceArea__bubbleContainer:nth-of-type(4) > .choiceArea__choiceLetter {
    color: goldenrod;
}

.choiceArea__bubbleContainer:nth-of-type(5) > .choiceArea__choiceLetter {
    color: forestgreen;
}


/* dynamically adjusting font sizes based on screen width */
@media (min-width: 1100px) {
    .choiceArea__choiceLetter {
        font-size: 5rem;
        top: 13%;
        left: 31%;
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .choiceArea__choiceLetter {
        font-size: 4rem;
        top: 18%;
        left: 31%;
    }
}

@media (min-width: 750px) and (max-width: 999px) {
    .choiceArea__choiceLetter {
        font-size: 3rem;
        top: 20%;
        left: 27%;
    }
}

@media (max-width: 749px) {
    .choiceArea__choiceLetter {
        font-size: 2rem;
        top: 23%;
        left: 20%;
    }
}

@keyframes bubble-right {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: rotate(5deg) translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bubble-left {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: rotate(-5deg) translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* bubble shadow */
.choiceArea__bubbleShadow {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 50%;
    height: 50%;
    transform: translateY(-50%);
    box-shadow: var(--shadow-elevation-high), var(--shadow-elevation-high), var(--shadow-elevation-high), var(--shadow-elevation-high), var(--shadow-elevation-high);
    /*box-shadow: var(--shadow-elevation-high);*/
    border-radius: 50%;
    /*    experimental shadow*/
    content: "";
    z-index: -1;
}