.iceCreamContainer {
    display: flex;
    flex-direction: column-reverse;
    /* make enclosed stacking context for ice cream scoops */
    isolation: isolate;
}

.iceCreamListContainer {
    list-style: none;
}

.iceCreamScoop {
    width: 70%;
    margin-top: -30%;
}

.scoreContainer {

    max-width: 100%;
    /* specify container height to allow ice cream to shrink inside the container*/
    grid-area: score;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: scroll;

}

.scoreContainer__scoreImage {
    /*object-fit: contain;*/
    max-width: 100%;
    max-height: 80%;
    /*transform: translateY(-50%);*/
}