#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.gameInterface {
    text-align: center;
    max-width: 1200px;
    width: 90vw;
    aspect-ratio: 16/9;
    display: grid;
    grid-template-areas:
            "score question choice"
            "score progress progress";
    gap: 10px;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 55% 45%;
}

.submitButton {
    margin-inline-start: 10px;
    background-color: #659865;
    color: #fff;
    margin-block-end: 15px;
    transition: 0.3s;
}

.submitButton:hover {
    background-color: #efd362;
    background-color: #427042;
    transition: 0.3s;
}
